# Environment stuff
.idea/*
*.iml

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.log*
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.epoch
*.lck
testdb*
.springBeans
spring_loaded
node
node_modules
.tmp
.merge_file*
.sass-cache
.DS_Store
*.svn-base
*.svn
.DS_Store

build/*
*/cache/*
*__pycache__*
*__init__.py*
*/.ipynb_checkpoints*
vendor/
bin/

notebooks/src/models

nbproject/*
